:root {
  --primary-color-one: #495E57;
  --primary-color-two: #F4CE14;
  --secondary-color-one: #EE9972;
  --secondary-color-two: #FBDABB;
  --highlight-color-one: #EDEFEE;
  --highlight-color-two: #333333;
  --display-title-font: 'Markazi Text', serif;
  --subtitle-font: 'Markazi Text', serif;
  --lead-text-font: 'Karla', sans-serif;
  --section-title-font: 'Karla', sans-serif;
  --display-title-size: 4rem;
  --subtitle-size: 2.5rem;
  --lead-text-size: 1.125rem;
  --section-title-size: 1.25rem;
}

html,
body,
:root {
  font-family: 'Karla', sans-serif; 
  font-size: 16px; 
  min-height: 100vh;
  width: 100%;
}


